
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <div class="row justify-content-center">
        <p class="col-md-9">
            Notlarınızı oluşturup Saklayabileceğiniz ve Düzenleyebileceğiniz bu uygulamayı kullanmaya başlamak için
            <a asp-area="Identity" asp-page="/Account/Register">Kayıt Olun</a> yada zaten üyeyseniz <a asp-area="Identity" asp-page="/Account/Login">Giriş Yapın.</a>
        </p>
    </div>
</div>